<!DOCTYPE html>

<html lang="en">
  <head>
    <title>JustUs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    body{
      background-image: url("/static/background.jpg");
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark" style="background-color: black;">
      <a class="navbar-brand" style="font-size: 2em" href="#">
        <img src="/static/ribbon_black.png" width="30" height="50" class="d-inline-block align-top" alt="">
      JustUs
      </a>
    </nav>
    <div class="container">
      <div class="text-center" style="margin:15px 0 0 0;">
        <h2 class="font-weight-bold">Report Form</h2>
      </div>
    <form action="/submit" method="post">
      <div class="form-group">
        <label for="who">Abuser</label>
        <input type="text" class="form-control" id="who" name ="who" placeholder="John Doe">
      </div>
      <div class="form-group">
        <label for="location">Where</label>
          <input type="text" class="form-control" id="location" name="location" placeholder="New York, NY">
      </div>
      <div class="form-group">
        <label for="what">Incident</label>
        <textarea class="form-control" id="what" name="what" rows="3"></textarea>
        {% if invalid %}
        <p>Incident not detailed enough</p>
        {% else %}
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: teal;">Submit</button>
      <button type="reset" class="btn btn-primary" style="background-color: teal;">Reset</button>
    </form>
    </div>
    </body>
</html>
